@media screen and (max-width: 800px) {
  #pressa_logo { display: none; }
  #s_fc { display: none; }
}

.logo {
    display: inline-block;

}

#first_navigator{
    margin-bottom: 0;
}

.logo p.tl{
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    color: #717170;
}

.logo p.kn{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #C73119;
}

.padding-top {

    padding-top: 5px;
}

.nowrap {

    white-space: nowrap;

}

.ls {

    font-size: 16px;
    color: #6E6E6D;
    font-style: italic;
    font-weight: bold;
}

#s_ok {
    width: 35px;
    height: 30px;
    background: url(/static/img/imgpsh_fullsize.png) 0 0;
    display: inline-block;
}

#s_vk {
    width: 35px;
    height: 30px;
    background: url(/static/img/imgpsh_fullsize.png) -37px 0;
    display: inline-block;
}


#s_yt {
    width: 35px;
    height: 30px;
    background: url(/static/img/imgpsh_fullsize.png) -74px 0;
    display: inline-block;
}


#s_tw {
    width: 35px;
    height: 30px;
    background: url(/static/img/imgpsh_fullsize.png) -113px 0;
    display: inline-block;
}


#s_in {
    width: 35px;
    height: 30px;
    background: url(/static/img/imgpsh_fullsize.png) -152px 0;
    display: inline-block;
}

#s_go {
    width: 35px;
    height: 30px;
    background: url(/static/img/imgpsh_fullsize.png) -192px 0;
    display: inline-block;
}

#s_fc {
    width: 35px;
    height: 30px;
    background: url(/static/img/imgpsh_fullsize.png) -270px 0;
    display: inline-block;
}


.festival_line {
    background-color: #E31E24;
    padding-left: 40px;
    padding-right: 40px;

}

.festival_title {
        text-align: center;
        color: #E31E24;
        font-weight: bold;
        font-size: 18px;
}

.photoplot {
    padding: 5px;
    color: white;
}

.festival_subtitle {

    font-weight: bold;
}

.h2_title {
    font-size: 20px;
    font-weight: bold;
}



.festival_line_kino {
    background-color: #2B2A29;
    padding-left: 40px;
    padding-right: 40px;

}


.festival_title_kino {
        text-align: center;
        color: #2B2A29;
        font-weight: bold;
        font-size: 18px;
}


.priz {
     position: relative;
     top: -60px;
     text-align: center;
     font-weight: bold;
     bottom: -100px;
     color: white;
     font-size: 100%;
}

.img-circle {
    border-radius: 50%;
}

.festival_line_blog {
    background-color: #2B2A29;
}














/*
* 	Owl Carousel Owl Demo Theme
*	v1.23
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;

	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}

#owl-demo .owl-item > div img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:4px;
}

#owl-demo .owl-item > div{
  background : #42bdc2;
  text-align: center;
  padding:50px 0px;
  margin:3px;
  color: white;
  font-size:32px;
  border:1px white;
}

.wrapper-with-margin{
  margin:0px 50px;
}


.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: -45px;
  top: -33px;
}

.owl-theme .owl-controls .owl-buttons .owl-next{
  right: -45px;
  top: -33px;
}

.icon-space-top img{
    padding-top: 120px;
}

.jwplayer
{
    display: inline-block !important; 
} 



.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
}
.overlay {
    position:absolute;
    top:20px;
    left:250px;
    z-index:1;
    color: #fff;
    font-size: 18px;
}
