{% extends 'base.html' %}

{% block main %}
<!--
    <div class="container">

        <h1><a href="/">На главную</a> / {{ festival.title }}</h1>

  
          <div id="wg_content"> 

           <ul class="wg_calendar">
            <li class="arrow arrow_backward"></li>
               {% for i in dtl %}
                <li class="number {{ i.is_active }}" data-id="{{ i.date.day }}">
                     
                    {{ i.weekday }} <br />
                    {{ i.date.day }}
               </li>
               {% endfor %}
            <li class="arrow arrow_forward"></li> 
           </ul>
           
           <div class="content">
            {% for i in dtl %}
                <div class="item {{ i.is_active }}" id="item-{{ i.date.day }}">
                    {% for f in i.films %}
                         <div class="film_item" data-day="{{ f.release_date.day }}">
                             <div class="image"> 
                                 <a href="{{ f.get_absolute_url }}">
                                     <img class="img-rounded" src="{{ f.thumb_url }}" />
                                 </a>
                             </div>     
                             <div class="text">
                                    <strong> {{ f.name }} </strong>
                                    <p> {{ f.shorttext }} </p>
                                    <strong> {{ f.release_date }} </strong>
                                    <div><a href="#" id="vote-{{ f.id }}" style="display: none"><span class="zd_title" >Проголосуй!</span></a><ul class="zd_vote" data-id="{{ f.id }}" id="zd_vote_{{ f.id }}"></ul></div>
                             </div>
                         </div>
                         <div style="clear: both"></div>
                    {% endfor %}
                </div>
            {% endfor %}
            <div style="clear: both"></div>
           </div>
       </div>
          
        
          
    </div>
     -->       
    <link rel="stylesheet" href="/static/css/zd-vote.css">          
    <script src="/static/js/zd-vote.js"></script>
    


    <div class="container">

        {% if catalogs|length > 0 %}

            <div style="text-align: center">
            {% for c in catalogs %}
                <h3 style="text-align: center; display: inline-block; background: #203646; padding: 5px">
                    <a style="color: {% if curc == c.id %} red {% else %} white {% endif %}" href="/festival/{{c.id}}/{{festival.alias}}.html">{{ c.title }}</a>
                </h3>
            {% endfor %}
            </div>

        {% endif %}

        {% if not hide %}
            <div class="f_list">
                        {% for f in films %}
                            <div class="film_item">
                                <div class="image"> 
                                    <a href="{{ f.get_absolute_url }}">
                                        <img class="img-rounded" src="{{ f.thumb_url }}" />
                                    </a>
                                </div>     
                                <div class="text">
                                        <strong> {{ f.name }} </strong>
                                        <p style="height: 59px; overflow: hidden"> {{ f.shorttext }} </p>
                                        <strong> {{ f.release_date }} </strong>
                                        <div><a href="#" id="vote-{{ f.id }}" style="display: none"><span class="zd_title" >Проголосуй!</span></a><ul class="zd_vote" data-id="{{ f.id }}" id="zd_vote_{{ f.id }}"></ul></div>
                                </div>
                            </div>
                            <div style="clear: both"></div>
                        {% endfor %}            
            </div>
        {% endif %}

        
    </div> 

        <script> 
        var vote = zdVote({
                          class: 'zd_vote',
                          count: 5,
                          url: '/api/vote'
                         });
        vote.activate();
    </script> 

    
{% endblock %}
