{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block main %}

    <div class="container">


            {% if messages %}
            <div class="well">
                {% for message in messages %}
                   <h4>{{ message }}</h4>
                {% endfor %}
            </div>
            {% endif %}
            
            
        <h3><a href="/festival/0/{{ film.festival.alias }}.html"> {{ film.festival }} </a> / {{ film.name }}</h3>




                <div class="row">
                    {% if film.is_ftp %}
                        <div style="text-align: center; padding-top: 100px" id="wb">
                            <a class="btn btn-success" data-id="{{ film.id }}"> Смотреть фильм </a>
                        </div>

                       
                    {% endif %}
                    
                    {% for v in film.videos_set.all %}


                        <div class="col-sm-12" style="text-align: center">

                            {% if v.video %}
                                <p>
                                    <video style="display: inline-block" class="img-responsive" autoplay loop controls tabindex="0" src="{{ v.video.url }}"></video>
                                </p>
                            {% endif %}



                             {{ v.code|safe }}
                        </div>
                    {% endfor %}
                </div>
                
                
                <div class="row">
                    
                    <div class="col-sm-7">
                         <h3> Отзывы </h3>
                         {% for m in mess %}
                            <div style="border-bottom: 1px solid #203646; margin-bottom: 10px">

                                <div>
                                    {{ m.text }} 
                                </div>
                                <div style="float: right">
                                    <strong>{{ m.name }}    </strong>
                                </div>
                            </div>
                            <div style="clear: both"></div>
                         {% endfor %}
                    </div>
                    
                    <div class="col-sm-5">
                        <h3> Оставить отзыв </h3>
                         <form action="" method="post">
                             {% csrf_token %}
                             {{ form|as_bootstrap }}
                             <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                             </div>
                         </form>                        
                    </div>       
                    

               

                
               


    </div>

    <script>
        var div = $('#wb');
        div.click(function(v){
           
            tar = v.target;
            $.get('/showme/'+$(tar).attr('data-id'),function(data){
                vs = '<video style="display: inline-block" class="img-responsive" autoplay loop controls tabindex="0" src="/media/kino/'+data.hash+'.mp4"></video>';
                div.html(vs);
            })
           
            
        })
    </script>

{% endblock %}
