{% extends 'base.html' %}

{% block main %}


       <div  style="text-align: center; padding-top: 50px" >
       
       
       
              <video id="video" width="900" height="490" onclick="play();" autoplay="autoplay">
                  <source src="static/movie.webm" type="video/webm" />
              </video>
              <div class="overlay">
                  <p>Фестиваль доброго кино</p>
              </div>
         
            
       </div>

      

        <!-- кинофестиваль -->

        <div class="container">
                <h2 class="festival_title">{{ fo.title }}</h2>
            <div class="festival_line">

                     <a href="{{ fo.get_absolute_url }}"><img class="img-responsive" src='/media/{{ fo.image }}' /></a>
                     <!--
                    <div id="festival" class="owl-carousel">
                      {% for f in festival_one %}
                      <div class="item photoplot">
                            <a href="{{ fo.get_absolute_url }}"><img class="img-responsive" src='{{ f.thumb_url }}' /></a>

                            <p class="festival_subtitle"> {{ f.name }}</p>
                            <p>{{ f.shorttext }} </p>
                        </div>
                      {% endfor %}
                     -->


                    </div>


             </div>

        </div>

        <!---------------------------->





        <!-- кинофестиваль -->

        <div class="container">
                <h2 class="festival_title_kino">{{ ft.title }}</h2>
            <div class="festival_line_kino">


                     
                    <div id="festival_kino" class="owl-carousel">
                        {% for f in festival_two %}
                        <div class="item photoplot">
                              <a href="{{ ft.get_absolute_url }}"><img class="img-responsive" src='{{ f.thumb_url }}' /></a>

                              <p class="festival_subtitle"> {{ f.name }}</p>
                              <p>{{ f.shorttext }} </p>
                          </div>
                        {% endfor %}
                    </div>


             </div>

        </div>

        






        <!-- БЛОГ ФЕСТИВАЛЯ -->

        <div class="container">
                <h2 class="festival_title_kino">БЛОГ ФЕСТИВАЛЯ</h2>
            <div class="festival_line_blog">

                    <div id="festival_blog" class="owl-carousel">
                        {% for f in blog %}
                            <div class="item photoplot">
                                <a href="{{ f.get_absolute_url }}"><img class="img-responsive img-circle" src='{{ f.thumb_url }}' /></a>
                            </div>
                        {% endfor %}


                    </div>


             </div>

        </div>

        <!---------------------------->


{% endblock %}
